body {
  background-color: #d3d3d3;
  font-size: 22px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.landing {
  background-color: red;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.landing_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#landingImages {
  border: 3px solid black;
  width: auto;
  height: 125px;
  object-fit: cover;
  padding: 15px;
}

#landingText {
  align-self: center;
  border: 3px solid black;
}

.projects {
  border: 3px solid black;
  background-color: green;
  margin-top: 25%;
  margin-bottom: 25%;
}

.contact {
  background-color: blue;
  border: 3px solid black;
  margin-bottom: 20%;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
