/*********** Implementing Responsiveness ************/

/************************************************* Mobile *******************************************************/

@media only screen and (max-width: 575px) {
	// @keyframes backgroundColorPalette {
	// 	0% {
	// 		background: pink;
	// 	}
	// 	100% {
	// 		background: skyblue;
	// 	}
	// }

	body {
		display: flex;
		flex-direction: column;

		p {
			font-size: 1rem;
			padding: 1rem;
		}
	}

	#navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 10vh;
		width: 100vw;

		a {
			font-size: 4vw;
		}
	}

	#content-wrapper {
		bottom: 0;
		margin-top: 10vh;
		height: 90vh;
		width: 100vw;
	}

	/**************** Landing Section ***************/

	#landing {
		@include section-layout();
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		#landing-row-top {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			height: auto;
			width: 90%;
		}

		#landing-row-bottom {
			height: 80%;

			#landing-column-left {
				display: none;
				// flex-direction: column;
				// align-items: center;
				// height: 100%;
				// width: 33%;
			}

			#landing-column-center {
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 100%;
				width: auto;

				// .landing-text {
				// 	// font-size: 1rem;
				// 	margin: 0;
				// 	padding: 1rem;
				// }
			}

			#landing-column-right {
				display: none;
				// flex-direction: column;
				// align-items: center;
				// height: 100%;
				// width: 33%;
			}
		}

		.landing-images {
			// display: none;
			height: auto;
			width: 25%;
			// object-fit: cover;
			padding: 1vw;
		}
	}

	/*************** Project Modals ****************/

	.project-description {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: auto;
		width: 100%;
		justify-content: center;

		.project-left {
			display: flex;
			flex-direction: column;
			padding: 0.25rem;
			max-width: 100%;
			min-width: 100%;

			.tech-used {
				margin: 0.25rem;
				padding: 0rem;
			}
		}

		.project-right {
			display: flex;
			flex-direction: column;
			align-content: space-between;
			padding: 0.25rem;
			max-width: 100%;
			min-width: 100%;

			.modal-description {
				padding: 0.25rem 0rem 0.25rem 0rem;
			}
		}
	}
}

/*************************************************** Tablet **********************************************************/

@media only screen and (min-width: 576px) and (max-width: 991px) {
	// @keyframes backgroundColorPalette {
	// 	0% {
	// 		background: red;
	// 	}
	// 	100% {
	// 		background: gold;
	// 	}
	// }

	body {
		position: relative;

		p {
			font-size: 1rem;
			padding: 1rem;
		}
	}

	#navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 10vh;
		width: 100vw;

		a {
			font-size: 4vw;
		}
	}

	#content-wrapper {
		bottom: 0;
		margin-top: 10vh;
		height: 90vh;
		width: 100vw;
	}

	/********************************************** Landing Section ******************************************************/

	#landing {
		@include section-layout();
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		#landing-row-top {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			height: auto;
			width: 90%;
		}

		#landing-row-bottom {
			height: 80%;
			margin: 0 auto;

			#landing-column-left {
				display: none;
				// flex-direction: column;
				// align-items: center;
				// height: 100%;
				// width: 33%;
			}

			#landing-column-center {
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 100%;
				width: auto;

				// .landing-text {
				// 	// font-size: 1rem;
				// 	margin: 0;
				// 	padding: 1rem;
				// }
			}

			#landing-column-right {
				display: none;
				// flex-direction: column;
				// align-items: center;
				// height: 100%;
				// width: 33%;
			}
		}

		.landing-images {
			// display: none;
			height: auto;
			width: 25%;
			// object-fit: cover;
			padding: 15px;
		}
	}
}
