/*********** Implementing Responsiveness ************/

h1 {
	font-size: 6vw;
}

h2 {
	font-size: 5vw;
}

h3 {
	font-size: 4vw;
}

p {
	font-size: 2vw;
}

/********* Smaller Phones **********/

@media only screen and (max-width: 320px) {
	@keyframes backgroundColorPalette {
		0% {
			background: pink;
		}
		100% {
			background: skyblue;
		}
	}

	#navbar {
		background-color: white;
	}

	#content-wrapper {
		bottom: 0;
		position: absolute;
		height: 85vh;
		width: 100vw;
	}

	#navbar {
		height: 15vh;
		width: 100vw;
	}

	#landingImages {
		padding: 0px;
	}

	#techIcons {
		padding: 2px;
	}

	#socials-wrapper {
		justify-content: center;
		height: 10px;
		width: 10px;
	}
}

/*********** Larger Phones **********/

@media only screen and (min-width: 320px) and (max-width: 640px) {
	@keyframes backgroundColorPalette {
		0% {
			background: red;
		}
		100% {
			background: gold;
		}
	}

	#content-wrapper {
		bottom: 0;
		position: absolute;
		height: 85vh;
		width: 100vw;
	}

	#navbar {
		height: 15vh;
		width: 100vw;
	}

	#landingImages {
		padding: 4px;
	}

	#techIcons {
		padding: 3px;
	}

	#socials-wrapper {
		justify-content: center;
		height: 20px;
		width: 20px;
	}
}

/******** Tablets *******/

@media only screen and (min-width: 640px) and (max-width: 900px) {
	@keyframes backgroundColorPalette {
		0% {
			background: blue;
		}
		100% {
			background: purple;
		}
	}
	#landingImages {
		padding: 8px;
		object-fit: cover;
	}

	#techIcons {
		padding: 5px;
		object-fit: cover;
	}

	#socials-wrapper {
		justify-content: center;
		height: 40px;
		width: 40px;
	}
}
