@import './responsive';

@mixin section-layout {
	border-radius: 50px;
	background-color: silver;
	box-shadow: 0 0 10px 10px cyan;
	margin: 15% 0% 15% 0%;
	scroll-margin-top: 100px;
}

$fringe-highlight: cyan;

/****************** Making The Body Look Pretty ********************/

body {
	animation-name: backgroundColorPalette;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	font-size: 22px;
	margin: 0% 5% 0% 20%;
	text-align: center;
}

@keyframes backgroundColorPalette {
	0% {
		background: #444;
	}
	100% {
		background: #999;
	}
}

/***************** Navigation Bar ********************/

#navbar {
	box-shadow: 0 0 10px 10px $fringe-highlight;
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000;
	overflow-x: hidden;
	a {
		color: #818181;
		display: block;
		margin-top: 50%;
		margin-bottom: 50%;
		&:hover {
			color: cyan;
		}
	}
}

/**************** Section that wraps non-nav content ************************/

/**************** Landing Section ***************/

#landing {
	@include section-layout();
	display: flex;
	justify-content: center;
}

.landing-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landingImages {
	height: 150px;
	width: 150px;
	object-fit: cover;
	padding: 15px;
}

#landingText {
	align-self: center;
}

/********** Projects Section *****************/

#projects {
	@include section-layout();
}

#projects-wrapper {
	border: 3px solid black;
	border-radius: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	grid-auto-rows: minmax(100px, auto);
}

.project-clickable {
	border: 3px solid black;
	border-radius: 50px;
	background-color: gold;
}

.project-image {
	border: 3px solid black;
	border-radius: 50px;
	transition: transform 0.2s;
	&:hover {
		background-color: darkorchid;
		transform: scale(1.2);
	}
}
/*************** Project Modals ****************/

.project-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.project-modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/********** About Section **************/

#about {
	@include section-layout();
}

#toolbox {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tech-icons {
	height: 100px;
	width: 100px;
	padding: 15px;
}

/********** Contact Section **********/

#contact {
	@include section-layout();
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#socials-wrapper {
	display: flex;
	flex-direction: row;
}

#socials-email {
	display: block;
	margin-right: 1rem;
	margin-bottom: 1rem;
	height: 50px;
	width: auto;
}

#socials-github {
	display: block;
	margin-bottom: 1rem;
	height: 50px;
	width: auto;
}

#socials-facebook {
	display: block;
	margin-left: 1rem;
	margin-bottom: 1rem;
	height: 50px;
	width: auto;
}

footer {
	font-size: 15px;
	position: relative;
	text-align: center;
}
