$color-primary: #c9c9c9;

$color-secondary: #353535;

$color-tertiary: #00f9f9;

$color-accent: #00ff9f;

// $major-border: 1rem 1rem $color-tertiary, -0.25rem -0.25rem $color-tertiary;

$major-border: 0 0 0.5rem 0.5rem $color-tertiary;

$minor-border: $color-secondary 0px 1px 6px 0px;

@mixin section-layout {
	border-radius: 50px;
	background-color: $color-primary;
	box-shadow: $major-border;
	// height: 90vh;
	// height: 100%;
	height: fit-content;
	width: 77.5%;
	margin: 5% 0% 5% 0%;
	scroll-margin-top: 100px;
	z-index: 2;
}

@mixin wavy-line-preset {
	content: '';
	width: 50vw;
	height: 50vh;
	background-color: transparent;
}

@mixin wavy-line-upper {
	border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
	box-shadow: inset -0.5vw 0.5vw $color-accent,
		inset 0.5vw 0.5vw $color-accent;
}

@mixin wavy-line-lower {
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
	box-shadow: 0.5vw 0.5vw $color-accent, -0.5vw 0.5vw $color-accent;
	transform: translateY(96%);
}

/****************** Making The Body Look Pretty ********************/

body {
	animation-name: backgroundColorPalette;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	margin: 0;
	height: 100%;
	text-align: center;
	z-index: 0;

	h1 {
		font-size: 5vw;
	}

	h2 {
		font-size: 4.5vw;
		margin: 1vh 0vw 1vh 0vw;
	}

	h3 {
		font-size: 3.5vw;
	}

	h4 {
		height: 1.8vh;
		margin: 2.5vh 0vw 2.5vh 0vw;
		text-align: center;
	}

	p {
		font-size: 2rem;
		padding: 1.5rem;
	}
}

@keyframes backgroundColorPalette {
	0% {
		background: #444;
	}
	100% {
		background: #999;
	}
}

/***************** Navigation Bar ********************/

#navbar {
	box-shadow: $major-border;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	width: 15vw;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: $color-secondary;
	overflow-x: hidden;
	a {
		color: #818181;
		display: block;
		font-size: 2vw;
		&:hover {
			color: $color-tertiary;
		}
	}
}

/**************** Section that wraps non-nav content ************************/

#content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: fit-content;
	width: 85vw;
	top: 0;
	right: 0;
	margin: 0;
	position: absolute;
}

/******************** wavy line background effect **********************/

#wavy-line-wrapper {
	animation-name: waveSlide;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
	display: flex;
	flex-direction: row;
	// align-items: center;
	position: fixed;
	height: 100vh;
	width: 300vw;
	z-index: 1;
}

#wavy-line-one {
	@include wavy-line-preset();
	@include wavy-line-upper();
}

#wavy-line-two {
	@include wavy-line-preset();
	@include wavy-line-lower();
}

#wavy-line-three {
	@include wavy-line-preset();
	@include wavy-line-upper();
}

#wavy-line-four {
	@include wavy-line-preset();
	@include wavy-line-lower();
}

@keyframes waveSlide {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100vw);
	}
}

/**************** Landing Section ***************/

#landing {
	@include section-layout();

	#landing-row-top {
		display: none;
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
		// height: 100%;
		// width: 33%;
	}

	#landing-row-bottom {
		display: flex;
		flex-direction: row;

		#landing-column-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 33%;
		}

		#landing-column-center {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 33%;

			.landing-text {
				// font-size: 1rem;
				margin: 0;
				padding: 1rem;
			}
		}

		#landing-column-right {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 33%;
		}
	}

	.landing-images {
		height: auto;
		width: 50%;
		object-fit: cover;
		padding: 2.5vw;
	}
}

/********** Projects Section *****************/

#projects {
	@include section-layout();
}

#projects-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project-container {
	box-shadow: $minor-border;
	height: 42.5%;
	width: 42.5%;
	margin: 2.5vh 0vw 2.5vh 0vw;
}

.project-image {
	vertical-align: bottom;
	cursor: pointer;
	max-width: 100%;
	transition: transform 0.2s;
	&:hover {
		background-color: darkorchid;
		transform: scale(1.2);
	}
}
/*************** Project Modals ****************/

.project-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 4; /* Sit on top */
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.project-modal-content {
	background-color: #fefefe;
	display: flex;
	flex-direction: column;
	margin: 5vh auto; /* 5% from the top and centered */
	padding: 20px;
	border: 1px solid $color-primary;
	height: auto;
	width: 75vw; /* Could be more or less, depending on screen size */

	.close {
		font-size: 2.5rem;
	}

	.close:hover,
	.close:focus {
		box-shadow: $minor-border;
		color: $color-secondary;
		text-decoration: none;
		cursor: pointer;
	}

	.project-description {
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;

		.project-left {
			display: flex;
			flex-direction: column;
			padding-right: 1rem;
			width: 50%;

			.modal-title {
				margin: 1rem 0rem 1rem 0rem;
			}

			.modal-project-image {
				// height: 80%;
				max-width: 100%;
			}

			.modal-tech-list {
				list-style: none;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;

				.tech-used {
					box-shadow: $minor-border;
					margin: 0.25rem;
					padding: 0.25rem;
					height: auto;
					width: auto;
				}
			}
		}

		.project-right {
			display: flex;
			flex-direction: column;
			align-content: space-between;
			padding-left: 1rem;
			width: 50%;

			.modal-description {
				// font-size: 1rem;
				max-height: 50vh;
				overflow-y: scroll;
				padding: 1rem 0rem 1rem 0rem;
			}

			.modal-links {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				margin-top: auto;
				padding: 1rem;
			}
		}
	}
}

/********** About Section **************/

#about {
	@include section-layout();
}

#description {
	margin: 0 auto;
}

#toolbox {
}

#tech-icons-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1rem;
}

/********** Contact Section **********/

#contact {
	@include section-layout();
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contact-form {
	align-self: center;
}

#socials-icons-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
}

.ionicons {
	// color: $color-secondary;
	height: 15vh;
	width: 15vw;
}

// .social-icons {
// 	color: $color-accent;
// }

/**************** Footer *********************/

footer {
	position: relative;
	text-align: center;
	z-index: 4;

	p {
		font-size: 0.8rem;
	}
}

@import './responsive';

// .footer-font{
// 	font-size
// }
